<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eaglepoint.venue.mapper.ManagedDocumentTagMapper">

    <insert id="insert" parameterType="com.eaglepoint.venue.domain.ManagedDocumentTag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO managed_document_tag (document_id, tag)
        VALUES (#{documentId}, #{tag})
    </insert>

    <delete id="deleteByDocumentId" parameterType="long">
        DELETE FROM managed_document_tag
        WHERE document_id = #{documentId}
    </delete>

    <select id="findTagsByDocumentId" parameterType="long" resultType="string">
        SELECT tag
        FROM managed_document_tag
        WHERE document_id = #{documentId}
        ORDER BY tag
    </select>
</mapper>
